<div class="log">
  {{#ember-collection
    items=groupedLogs
    buffer=100
    cell-layout=(percentage-columns-layout groupedLogs.length columns 19)
    as |logLine index|
  }}
    <div class="logline">
      {{#each logLine as |log|~}}
        <span data-line-number={{plus-one index}}
              class="ansi {{unbound log.fg}} {{unbound log.style}} {{unbound log.bg}}-bg">{{unbound log.stdio}}</span>
      {{~/each}}
    </div>
  {{/ember-collection}}
</div>