<div class="ui container">
  <div class="ui breadcrumb">
    {{#link-to "application" class="section"}}Home{{/link-to}}
    <div class="divider">/</div>
    {{#link-to "branches.index" model.branch.project}}{{model.branch.project.name}}{{/link-to}}
    <div class="divider">/</div>
    {{#link-to "branches.show" model.branch}}{{model.branch.name}}{{/link-to}}
    <div class="divider">/</div>
    <div class="active section">#{{model.buildNumber}} <div class="ui label {{model.statusColor}}">{{model.status}}</div></div>
  </div>

  {{#each model.steps as |step|}}
    {{#each step.jobs as |job|}}
    <div class="ui segments">
      <div class="ui segment">
        <div class="ui ribbon label {{job.statusColor}}">{{job.status}}</div>
        <span class="ui large header">{{step.name}}</span>
        <span class="ui grey large right floated header">{{job.box}}</span>
      </div>
      <div class="ui segment {{job.statusColor}}">
        {{#if job.startTime}}
          <p>Started: {{job.startTime}}</p>
          <p>Finished: {{job.finishTime}}</p>
          <p>Duration: {{#if job.finishTime}}
            {{moment-duration job.duration}}
          {{else}}
            {{moment-from-now job.startTime interval=500}}
          {{/if}}</p>
        {{/if}}
      </div>
      <div class="ui segment inverted">
        {{ansi-log rawLog=job.log}}
      </div>
    </div>
    {{/each}}
  {{/each}}

  {{outlet}}
</div>