{{#link-to "branches.show" model.branch.project.name model.branch.name}}&#171; All Builds{{/link-to}}

<h1>{{model.branch.project.name}}/{{model.branch.name}} #{{model.buildNumber}}
  <span class="status-{{model.status}}">{{model.status}}</span>
</h1>
<button {{action "reloadModel"}}>Refresh</button>

{{#each model.steps as |step|}}
  <h3>{{step.name}} <span class="status-{{step.status}}">{{step.status}}</span></h3>
  <pre class="log">{{{step.htmlLog}}}</pre>
{{/each}}

{{outlet}}
