<div class="ui container">
  <div class="ui breadcrumb">
    {{#link-to "application" class="section"}}Home{{/link-to}}
    <div class="divider">/</div>
    {{#link-to "branches.index" model.branch.project}}{{model.branch.project.name}}{{/link-to}}
    <div class="divider">/</div>
    {{#link-to "branches.show" model.branch}}{{model.branch.name}}{{/link-to}}
    <div class="divider">/</div>
    <div class="active section">#{{model.buildNumber}} <div class="ui label {{model.statusColor}}">{{model.status}}</div></div>
  </div>

  <h4 class="ui header">Jobs</h4>
  <div class="ui vertical text menu">
    {{#each model.steps as |step|}}
      <b class="active title">{{step.name}}</b>
      <div class="content menu">
        {{#each step.jobs as |job|}}
          {{#link-to "jobs.show" job class="item"}}{{job.box}}{{/link-to}}
        {{/each}}
      </div>
    {{/each}}
  </div>

  <div class="ui segments">
    {{outlet}}
  </div>
</div>