<div class="ui container">
  <div class="ui breadcrumb">
    {{#link-to "application" class="section"}}Home{{/link-to}}
    <div class="divider">/</div>
    {{#link-to "branches.index" model.project}}{{model.project.name}}{{/link-to}}
    <div class="divider">/</div>
    <div class="active section">{{model.name}}</div>
  </div>

  <br/><br/>{{#link-to "builds.show" model.project.name model.name "latest"}}Latest{{/link-to}}
  <p>Running builds: {{model.runningBuildsCount}}. Queued {{model.queuedBuildsCount}}</p>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>#</th>
        <th>Commit</th>
        <th>Status</th>
        <th>Inserted at</th>
        <th>Steps</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.sortedBuilds as |build|}}
        <tr class="{{build.statusClass}}">
          <td class="selectable">{{#link-to "builds.show" build}}{{build.buildNumber}}{{/link-to}}</td>
          <td>{{build.commit}}</td>
          <td>{{build.status}}</td>
          <td>{{moment-from-now build.insertedAt}}</td>
          <td><ul>
            {{#each build.steps as |step|}}
              <li>{{step.name}}</li>
            {{/each}}
          </ul></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{outlet}}
</div>
